* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.flex {
  display: flex;
}
.flex-col{
    flex-direction: column;
}
.navbar {
  /*border:2px solid rgb(250, 0, 0);*/
  font-size: x-large;
  width: 100vw;
  height: 5vh;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  background-color: teal;
}
.logo {
  /* border:2px solid purple;  */
  width: 110px;
  height: 110px;
  font-size: 20px;
  padding: 40px 10px;
  cursor: pointer;
}
.item {
  /*border:1.5px solid blue; */
  width: 100px;
  height: 100px;
  margin-left: 160px;
  padding: 40px 50px;
  cursor: pointer;
  list-style: none;
}
.menu-links {
  display: flex;
  /*border:2px solid rgb(2, 247, 2);*/
}
.section-intro {
  /*border:2px solid green;*/
  width: 100vw;
  height: 95vh;
}
.section-content {
  position: absolute;
  /* border: 1px solid white;*/
  color: white;
  top: 35%;
  left: 5%;
  flex-direction: column;
  gap: 1.025rem;
}
.section-image {
  background-image: url("upper.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}
.section-title {
  font-size: 3rem;
}
.section-info {
  font-size: 1rem;
}
.section-link {
  width: 230px;
  text-align: center;
  border: 1px solid white;
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  text-decoration: none;
  color: white;
}
.section-link:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

footer {
  border: 2px solid black;
  width: 100vw;
  height: 20vh;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.footer-links {
  display: flex;
  list-style: none;
  color: white;
  /*border:1px solid red;*/
  gap: 5rem;
}
.footer-links .links {
  font-size: 1.2rem;
}
.container--icon {
  /*border: 1px solid red;*/
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.footer-desc {
  color: rgb(246, 246, 242);
  flex-direction: column;
  /* border: 1px solid blue;*/
}
.footer-desc span {
  color: yellow;
  font-size: 1.5rem;
}
.icon {
  color: white;
  font-size: 2rem;
}
.icon-group {
  display: flex;
  margin-top: 10px;
  gap: 7rem;
  /* border: 1px solid goldenrod;*/
}
