* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: rgba(0, 0, 0, 0.25);
}

/* Brand */
.logo {
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-weight: bold;
}

/* Nav links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 6px 14px;
    border-radius: 20px;
    transition: 0.3s;
}

.nav-links li a:hover {
    background-color: blue;
}

/* Active link */
.home{
    background-color: #4c00ff;
    border-radius:10px;
}
body{
    background: url("grok_1765696421239.jpg") no-repeat center center/cover;
    height: 100vh;
}
.active{
    background-color:blue;
}