h1{
    color: rgb(0, 94, 255);
    font-size: 30px;
    text-align: center;
}p{
    color: red;
    background-color: rgb(0, 221, 255);
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
div{
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 25px;
    text-align: center;
    font-style: bold;
}
p2{
    color: rgb(255, 11, 35);
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
p2 span{
    color: green;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
a{
    color: rgb(255, 0, 204);
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}
span{
    color: orangered;
}
html{
    background-color: rgb(201, 244, 7);
}
.head1{
    color: rgb(255, 0, 153);
    font-size: 35px;
    text-align: center;
}
.head2{
    color: rgb(0, 153, 255);
    font-size: 28px;
    text-align: center;
}
.head3{
    color: rgb(102, 0, 204);
    font-size: 22px;
    text-align: center;
    font-style: italic;
}
#paragraph-one{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
}
#paragraph-two{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
}
#paragraph-three{
    color: rgb(94, 119, 94);
    background-color: rgb(36, 241, 0);
    font-size: 20px;
    text-align: right;
}